*{
    font-family: 'Roboto';
}
.weather-card p,h1 {
    margin: 0;
}
.weather-card {
    height: 25vh;
    width: 35vw;
    background-color: green;
    border-radius: 1rem;
    overflow: hidden;
}
.date-time {
    height: 30%;
    width: 100%;
    background-color: #FF4ADE;
    display: flex;
    justify-content: space-around;
}
.date-time p{
    padding:2% 5%;
    color: #fff;
    font-size: 1.5rem;
    font-weight:600;
}
.weather-data{
    color: #fff;
    height: 70%;
    width: 100%;
    background-color: #101744;
    display: flex ;
}
.weather-info{
    padding-top:2%;
    height: 100%;
    flex: 1;
    background-color: #101744;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.weather-info::before {
    content: '';
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 0;
    width: 1px;
    height: 40%;
    background-color: #fff; 
}
/* Style adjustments for the first weather-info div to remove the vertical line */
.weather-info:first-child::before {
    display: none;
}